{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2>Восстановление пароля</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger">Установить пароль</button>
        </form>
    </div>
{% endblock main_section %}

{% block aside_news_section %}
<h3><b>Не менее интересная информация</b></h3>
<p>Камень кинутый в тихий пруд,всхлипнет так,как тебя зовут.
    Марина Цветаева
</p>
<a href="https://ru.wikipedia.org/wiki/%D0%A6%D0%B2%D0%B5%D1%82%D0%B0%D0%B5%D0%B2%D0%B0,_%D0%9C%D0%B0%D1%80%D0%B8%D0%BD%D0%B0_%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%BD%D0%B0" targer="_blank"><button class="btn btn-warning">Посмотреть подробнее</button>
                   </a>
 <div class="p-3 bm-3">
                        <img src="https://lusana.ru/files/16430/653/1.jpg" class="img-thumbnail">
                   </div>
{% endblock aside_news_section %}